.signin-container-out{
  width: 100%;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signin-container{
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-radius: 10px;
  width: 370px;
}
.sign-head{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  color: black;
  font-weight: 400;
  font-size: 30px;
  padding: .5rem;
}
.content-form label{
  color: #474646;
  
}
.email-relative{
  position: relative;
}
.pass-relative{
  position: relative;
  
}
.email-icon{
  width: 20px;
  height: 24px;
  position: absolute;
  top: 44px;
  font-weight: 100;
  color: #776a6a;
  left: 5px;
}
.pass-icon{
  position: absolute;
  top: 44px;
  width: 18px;
  height: 24px;
  font-weight: 100;
  color: #776a6a;
  left: 7px;
}
.eyeClose{
  position: absolute;
  top: 44px;
  cursor: pointer;
  width: 18px;
  height: 24px;
  font-weight: 100;
  color: #474141;
  left: 18.4rem;
}
.eyeOpen{
  position: absolute;
  top: 44px;
  cursor: pointer;
  width: 18px;
  height: 24px;
  font-weight: 100;
  color: #474141;
  left: 18.4rem;
}
.content-form-in input{
  border: 1px solid rgb(89, 86, 86);
  background-color: #f7f2f2;
  border-radius: 5px;
  width: 100%;
  padding: 6px 2.2rem;
  margin: 7px 0px;
}
.content-form input:focus{
  box-shadow: rgba(15, 251, 47, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.submit-btn{
  background-color: rgb(56, 174, 35);
  cursor: pointer;
  padding: .5rem;
  margin: 10px 0px;
  width: 100%;
  border-radius: 5px;
  color: white;
  transition: .4s;
}
.submit-btn:hover{
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.switch-form{
  margin-top: 3px;
  text-align: center;
}
.page-change{
  color: rgb(26, 158, 33);
  font-weight: 500;
}

.google-signin{
  padding: 10px 1rem;
}
.google-signup > button{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: .3rem;
  border-radius: 30px;
  width: 100%;
  transition: .4s;
}
.google-signup > button:hover{
  transform: scale(1.06);
}